<ion-view title="Change password">
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Old password</span>
                    <input type="email" placeholder="Email" ng-model="vm.user.oldPassword" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">New Password</span>
                    <input type="password" placeholder="Placeholder" ng-model="vm.user.newPassword" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block" ng-click="vm.changePassword()">Log in</button>            
        </form>
    </ion-content>
</ion-view>
